body {
  margin-bottom: 100px;
  border-bottom-color: #bbb;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  font-family: 'Proximanova Reg', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #0a4595;
  font-size: 64px;
  line-height: 59px;
  font-weight: 500;
  letter-spacing: -2px;
}

h2 {
  margin-top: 1px;
  margin-bottom: 10px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #0a4595;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Proximanova Bold', sans-serif;
  font-size: 28px;
  line-height: 39px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  font-family: 'Proximanova Bold', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

h5 {
  clear: none;
  font-family: 'Proximanova Bold', sans-serif;
  color: #0099d8;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Proximanova Bold', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 6px;
  text-indent: 0px;
  text-transform: uppercase;
}

p {
  width: 780px;
  margin-bottom: 15px;
  padding-right: 50px;
  font-family: 'Proximanova Reg', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 29px;
  text-align: left;
  list-style-type: disc;
}

a {
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 5px;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #575757;
  font-size: 18px;
  line-height: 14px;
}

a:hover {
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0099d8;
  font-size: 18px;
  line-height: 14px;
}

a.w--current {
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
}

a.w--current:hover {
  font-size: 14px;
  line-height: 14px;
}

.button {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 9px;
  padding: 11px 15px;
  border: 1px solid #0a4595;
  background-color: #fff;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #0a4595;
  line-height: 20px;
  text-align: center;
}

.button:hover {
  background-color: #0a4595;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.button.submit-button {
  margin-top: 55px;
  padding: 12px;
  border-style: none;
  background-color: #0a4595;
  color: #fff;
  font-size: 18px;
}

.button.submit-button:hover {
  padding-bottom: 12px;
  border-style: none;
  background-color: #0099d8;
}

.button.share-this {
  height: 40px;
  margin-top: 10px;
  margin-left: 0px;
  padding: 12px 8px 2px;
  font-family: 'Proximanova Light', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}

.button.share-this:hover {
  line-height: 14px;
}

.button.btn_center {
  margin-left: 157px;
}

.logo {
  margin: 15px 20px 10px 0px;
}

.logo:hover {
  margin-top: 15px;
}

.logo:active {
  margin-top: 10px;
}

.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}

.intro-paragraph {
  width: 940px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 18px;
  padding-right: 221px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  list-style-type: none;
}

.header-container {
  background-color: transparent;
}

.header-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #333;
  opacity: 1;
}

.header-section.brand {
  background-image: url('../images/_0002_SG_brandoverview_fish.jpg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

.header-section.home {
  width: 100%;
  height: auto;
  background-color: #000;
  background-image: url('../images/_0000_SG_landing_earth.jpg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-section.contentheader {
  background-image: url('../images/_0001_SG_contentstrategy_light.jpg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-section.designheader {
  width: 100%;
  background-image: url('../images/_0003_SG_designelements_bird.jpg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-header {
  color: #fff;
  letter-spacing: -2px;
}

.image {
  display: block;
  margin: 30px auto;
  padding: 10px;
  opacity: 1;
}

.image.grey-background {
  padding: 10px;
  background-color: #152a47;
}

.image.fade {
  width: 500px;
  margin-left: 70px;
  opacity: 0.5;
}

.image.blue {
  padding: 0px;
  border: 14px solid #e3e3e3;
}

.image.left-image {
  margin-left: 3px;
  padding-left: 9px;
}

.color-block {
  display: block;
  width: 170px;
  height: 170px;
  margin: 12px auto;
  border-radius: 100px;
  color: #fff;
  text-align: center;
}

.color-block.light-blue {
  width: 170px;
  height: 170px;
  background-color: #0099d8;
}

.color-block.slategrey {
  width: 170px;
  height: 170px;
  background-color: #333;
}

.color-block.white {
  width: 170px;
  height: 170px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
}

.color-block.blue {
  width: 170px;
  height: 170px;
  background-color: #0a4595;
}

.color-block.medium-grey {
  width: 170px;
  height: 170px;
  background-color: #575757;
}

.color-block.light-grey {
  width: 170px;
  height: 170px;
  background-color: #acacac;
}

.color-block.med-grey-2 {
  width: 170px;
  height: 170px;
  background-color: #666;
}

.color-block.faded-blue {
  background-color: #6b84b4;
  color: #fff;
}

.color-label {
  width: 197px;
  padding-top: 93px;
  font-family: 'Proximanova Semibold', sans-serif;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .25), 1px 1px 2px #545353;
}

.color-label.white {
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .25), 1px 1px 2px #000, 1px 1px 0 #c7c7c7;
}

.color-label.lightblue {
  width: 170px;
  padding-top: 79px;
  background-color: #0099d8;
  font-size: 20px;
}

.color-label.color-palette {
  width: 170px;
  height: 170px;
  padding-top: 70px;
  font-family: 'Proximanova Reg', sans-serif;
  font-size: 17px;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .25), 1px 1px 1px #4a4a4a;
}

.color-label.color-palette.light-grey-text {
  color: #575757;
}

.color-label.color-palette.richbluegrey {
  border-radius: 110px;
  background-color: #28282a;
}

.design-section {
  margin: 0px;
  padding-top: 14px;
  padding-bottom: 50px;
  background-color: #fff;
}

.color-row {
  padding-bottom: 34px;
}

.image-caption-left {
  margin-top: 60px;
  font-family: 'Proximanova Reg', sans-serif;
  font-weight: 200;
  text-align: left;
}

.typography-caption {
  padding-bottom: 25px;
  font-family: 'Proximanova Reg', sans-serif;
  color: #c40222;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.typography-caption.pushdown {
  margin-top: 120px;
}

.list-div {
  margin-bottom: 50px;
}

.unordered-list {
  display: block;
  margin: 6px auto 17px;
  font-size: 18px;
  line-height: 26px;
}

.ordered-list {
  margin: 4px 0px 8px;
  padding-top: 0px;
  padding-right: 0px;
  list-style-type: decimal;
}

.color-section {
  background-color: #fff;
}

.logo-section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.secondary-navbar {
  position: fixed;
  left: 0px;
  top: 295px;
  bottom: 142px;
  width: 189px;
  height: 520px;
  min-height: 450px;
  min-width: 120px;
  padding-left: 0px;
  background-color: #f0f0f2;
}

.secondary-navbar.onright {
  position: static;
  left: auto;
  top: 187px;
  right: 318px;
  bottom: 295px;
  display: inline-block;
  height: 460px;
  margin-right: 14px;
  padding-right: 1px;
}

.secondary-navbar.onright.fixed {
  position: fixed;
  right: 99px;
  width: 168px;
  height: 0px;
  min-height: 80px;
  min-width: 0px;
  background-color: transparent;
}

.secondary-nav-links {
  margin-top: auto;
  padding: 0px 10px 6px 15px;
  float: left;
  clear: both;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #575757;
  font-size: 15px;
}

.secondary-nav-links:hover {
  color: #333;
  line-height: 30px;
}

.secondary-nav-links.w--current {
  font-family: 'Proximanova Bold', sans-serif;
  color: #333;
  line-height: 30px;
  font-weight: 800;
}

.secondary-nav-links.w--current:hover {
  color: #575757;
}

.section-nav-header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 11px;
  padding-left: 14px;
  border-bottom: 1px solid #acacac;
  border-top-width: 1px;
  border-top-color: #575757;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #575757;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.grid-section {
  margin-bottom: 66px;
}

.list-item {
  margin-bottom: 10px;
  font-family: 'Proximanova Reg', sans-serif;
  font-weight: 500;
  text-indent: 0px;
  list-style-type: disc;
}

.inset-text-div {
  width: 776px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 39px;
  padding-right: 137px;
  border-left: 5px none #0099d8;
  line-height: 26px;
}

.brand-attributes {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.brand-attributes._3-col {
  margin-right: 82px;
  margin-bottom: 58px;
  margin-left: 82px;
}

.voice-image {
  display: block;
  height: auto;
  margin-right: auto;
  margin-bottom: 44px;
  margin-left: auto;
  padding-bottom: 0px;
  border-bottom: 2px solid #b8b8b8;
  background-image: none;
}

.type-container {
  margin-top: 32px;
  margin-bottom: 115px;
  padding-bottom: 91px;
}

.new-section {
  margin-top: 56px;
}

.centered-text {
  width: 720px;
  text-align: center;
}

.breadcrumb {
  margin-top: 19px;
  margin-bottom: 0px;
  margin-left: -15px;
  padding-left: 0px;
  font-family: 'Proximanova Reg', sans-serif;
  color: #acacac;
  line-height: 39px;
  text-transform: uppercase;
}

.breadcrumb.breadcrumb-hover {
  color: #888;
}

.vision-div {
  display: block;
  width: 100%;
  height: 600px;
  background-image: url('../images/NOAA02_VISION.002.jpg');
  background-position: -1% -4%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.main-content {
  margin-top: 36px;
}

.main-content.full-width {
  padding-right: 140px;
}

.link {
  margin-right: 0px;
  float: none;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0099d8;
  font-weight: 400;
}

.link.pagelink {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  line-height: 30px;
}

.link.pagelink:hover {
  font-family: 'Proximanova Semibold', sans-serif;
  font-weight: 500;
}

.spacer-div {
  margin-top: 0px;
  padding-top: 46px;
}

.small-spacer {
  margin-top: 14px;
  margin-bottom: -31px;
  padding-bottom: 60px;
}

.pull-quote {
  margin: 0px 50px 0px 0px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #0a4595;
  font-size: 48px;
  line-height: 58px;
}

.pull-quote.quote {
  padding-left: 40px;
}

.pull-quote.attribution {
  color: #333;
  font-size: 14px;
  text-transform: none;
}

.image-caption {
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: 'Proximanova Bold', sans-serif;
  font-size: 17px;
  line-height: 21px;
}

.imagefpo {
  margin-top: 34px;
  background-color: #dedede;
}

.image-caption-details {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 14px;
  margin-left: 1px;
  color: #666;
  font-size: 15px;
  line-height: 21px;
}

.list-heading {
  font-family: 'Proximanova Semibold', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.unordered-list-item {
  margin-top: 6px;
}

._16x9-image {
  display: block;
  overflow: visible;
  height: auto;
  float: none;
  clear: none;
  opacity: 1;
}

.cropped {
  display: block;
  overflow: visible;
  width: 90%;
  max-width: 940px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0px solid #fff;
  background-color: red;
}

._2nd-row {
  margin-top: 53px;
}

.image-download-link {
  font-family: 'Proximanova Reg', sans-serif;
  color: #888;
  font-size: 15px;
  line-height: 21px;
}

.image-download-link:hover {
  background-color: transparent;
  font-family: 'Proximanova Reg', sans-serif;
  color: #888;
  font-size: 15px;
  line-height: 21px;
}

.navimage {
  margin-top: 15px;
}

.navimage.reduced {
  max-width: 300px;
}

.navimage.reduced.border {
  border: 1px solid #acacac;
}

.navimage.reduced.border.mobile-crop {
  position: absolute;
  overflow: visible;
  width: 300px;
}

.navimage.narrowimage {
  width: 780px;
}

.text-link {
  display: block;
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0a4595;
  font-weight: 400;
}

.text-link:hover {
  font-family: 'Proximanova Semibold', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.text-link:active {
  font-family: 'Proximanova Bold', sans-serif;
  color: #333;
}

.text-link.inline-text-linek {
  font-size: 18px;
  line-height: 20px;
}

.linkexample {
  margin-top: 13px;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0a4595;
}

.linkexample.current-example {
  font-family: 'Proximanova Bold', sans-serif;
  color: #333;
}

.linkexample.visited-example {
  margin-bottom: 18px;
  color: #888;
}

.form {
  width: 750px;
  margin-top: 37px;
}

.submitbutton {
  background-color: #0a4595;
}

.submitbutton:hover {
  background-color: #0099d8;
}

.textfield {
  width: 80%;
  height: 55px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 18px;
}

.textfield.long {
  width: 80%;
}

.label {
  margin-top: 29px;
  font-family: 'Proximanova Light', sans-serif;
  color: #575757;
  font-size: 17px;
}

.small-body {
  width: 720px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
}

.small-body.small-centered {
  width: 300px;
  font-family: 'Proximanova Light', sans-serif;
  color: #222;
  text-align: center;
}

.small-body._300width {
  width: 300px;
}

.small-body._300width.centered {
  text-align: center;
}

.floating-caption {
  position: relative;
  top: 358px;
  right: 15px;
  bottom: 0px;
  display: inline;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  clear: none;
  color: #acacac;
  font-size: 14px;
  text-align: right;
}

.hero-bg-image {
  position: static;
  overflow: visible;
  width: 117%;
  height: 401px;
  margin-left: 4px;
  padding-bottom: 0px;
  background-image: url('../images/hero-background-image.png');
  background-size: cover;
}

.hero-bg-image.home {
  width: 121%;
  height: 639px;
  margin-top: 20px;
  background-image: url('../images/NOAA_Homepage_Images_Template.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-hover {
  width: 527px;
  height: 297px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  background-color: #0099d8;
  background-image: url('../images/promo-image.png');
}

.blue-hover.hover-over-image {
  background-image: none;
}

.category-link {
  margin-top: -5px;
  padding-top: 113px;
  padding-left: 24px;
  font-family: 'Proximanova Light', sans-serif;
  color: #fff;
  font-size: 15px;
}

.promo-title-link {
  padding-top: 5px;
  padding-right: 41px;
  padding-left: 26px;
  color: #fff;
  font-size: 27px;
  line-height: 36px;
}

.share-text {
  font-family: 'Fontawesome webfont', sans-serif;
  color: #acacac;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 20px;
}

.sharecaption {
  margin-bottom: 13px;
  padding-right: 24px;
  padding-left: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #acacac;
  font-size: 13px;
  text-align: right;
}

.share-row {
  width: 720px;
  margin-bottom: 20px;
  border-bottom: 1px solid #acacac;
  border-right-color: #acacac;
}

.category-links-top {
  border-right: 1px none #acacac;
  font-family: 'Proximanova Light', sans-serif;
}

.category-links-at-top {
  margin-bottom: 13px;
  padding-right: 9px;
  padding-left: 0px;
  border-right: 1px solid #acacac;
  font-family: 'Proximanova Semibold', sans-serif;
  font-size: 16px;
  line-height: 17px;
}

.category-links-at-top:hover {
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0099d8;
}

.category-links-at-top.link2 {
  padding-left: 4px;
  border-right-style: none;
  font-family: 'Proximanova Semibold', sans-serif;
}

.fact-style {
  width: 55px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  background-color: #0a4595;
  font-family: 'Proximanova Bold', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.stat-number {
  padding-bottom: 0px;
  font-family: 'Proximanova Light', sans-serif;
  color: #0a4595;
  font-size: 64px;
  line-height: 72px;
}

.stat-number.reverse {
  width: 300px;
  margin-bottom: 36px;
  padding-top: 26px;
  padding-left: 22px;
  color: #fff;
}

.stat-number.centered-wide {
  width: 300px;
  text-align: center;
}

.stat-number.centered-wide.added-left-margin {
  padding-right: 50px;
}

.stat-details {
  width: 300px;
  margin-bottom: 23px;
  padding-top: 0px;
  float: none;
  clear: none;
  font-family: 'Proximanova Light', sans-serif;
  line-height: 24px;
}

.stat-details.reverse {
  position: static;
  width: 395px;
  margin-top: 37px;
  margin-bottom: auto;
  margin-left: -8px;
  padding-left: 51px;
  float: right;
  clear: none;
  color: #fff;
}

.stat-details.reverse.inverse-share-this-link {
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
}

.promo-links {
  margin-bottom: 5px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #333;
}

.promo-links:hover {
  color: #0099d8;
  font-size: 22px;
  line-height: 30px;
}

.promo-links.sublink {
  margin-bottom: 2px;
  font-size: 20px;
}

.promo-links.sublink.inverse-arrow {
  color: #0099d8;
}

.missing {
  color: #ff00d0;
  font-size: 16px;
}

.left-column {
  padding-right: 0px;
}

.main-content-section {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.watermark-image {
  width: 90%;
  height: 500px;
  background-image: none;
}

.full-width-statistic {
  width: 780px;
  height: 120px;
  margin-bottom: 326px;
  background-color: #0099d8;
}

._2nd-column-in-stats {
  padding-right: 19px;
  padding-left: 16px;
}

.right-arrow-in-3rd-column {
  margin-top: 38px;
  margin-left: 81px;
}

.full-width-positive-stat {
  margin-bottom: 51px;
}

.statistic-feature {
  display: block;
  padding-right: 3px;
  padding-left: 48px;
  font-family: 'Proximanova Semibold', sans-serif;
  color: #0a4595;
  font-size: 60px;
  line-height: 72px;
  text-align: left;
  letter-spacing: -2px;
}

.feature-stat-details {
  width: 660px;
  padding-left: 44px;
  font-family: 'Proximanova Reg', sans-serif;
  line-height: 29px;
}

.show-me-another {
  width: 100px;
  margin-top: -25px;
  margin-bottom: 20px;
  padding-left: 27px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #0a4595;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}

.rigth-column-for-feature-state {
  height: 167px;
  padding-left: 25px;
  border-left: 1px solid #acacac;
}

.feature-stat-row {
  width: 764px;
  height: 190px;
}

.refresh-icon {
  width: 19px;
  margin-top: 24px;
}

.fullwidhtpromo {
  width: 90%;
  max-width: 900px;
  margin-left: 0px;
}

.section-heading {
  width: 720px;
  margin-top: 36px;
  margin-bottom: 20px;
  font-family: 'Proximanova Light', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.section-heading.small-wider {
  width: 300px;
  margin-top: -3px;
  margin-bottom: 5px;
  font-size: 26px;
}

.centered-stats {
  width: 300px;
  font-family: 'Proximanova Bold', sans-serif;
  color: #777;
  font-size: 20px;
  text-align: center;
}

.centered-stats.added-left-padding {
  padding-right: 50px;
}

.areas-of-work-tile {
  margin-right: 500px;
  margin-bottom: 9px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 82px;
  background-color: #0099d8;
  font-family: 'Proximanova Bold', sans-serif;
  color: #fff;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.areas-of-work-tile.smaller-tile {
  font-size: 15px;
}

.section-bold-heading {
  font-family: 'Proximanova Light', sans-serif;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.page-intro-text {
  font-size: 34px;
  line-height: 42px;
}

.arrow-in-2nd-column {
  margin-top: 145px;
}

.promo-link-block {
  margin-top: 27px;
  margin-bottom: 14px;
}

._1-column {
  width: 700px;
}

._780px {
  width: 752px;
}

.mobilenav {
  height: 600px;
}

.dropdown {
  width: 175px;
  margin-top: 70px;
  border: 0px solid #acacac;
  background-color: #0099d8;
}

.dropdownlist.w--open {
  width: 175px;
  margin-left: -1px;
  border: 1px solid #bfbfbf;
}

.dropdown-text-blok {
  margin-right: 21px;
  color: #fff;
  font-size: 15px;
}

.icon {
  color: #fff;
}

.cropped-nav {
  width: 720px;
}

.skip_link {
  font-size: 14px;
}

.skip_link:hover {
  font-size: 14px;
}

.skip_link.w--current {
  padding-top: 10px;
}

.skip_link.w--current:active {
  color: #575757;
}

.skip_link_last {
  margin-bottom: 15px;
  font-size: 14px;
}

.skip_link_last:hover {
  margin-bottom: 15px;
  font-size: 14px;
}

.noaa_nav_bar {
  width: 550px;
  margin-top: 27px;
  float: right;
  background-color: transparent;
}

.noaa_nav_link_2 {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.noaa_nav_link_2.w--current {
  padding-top: 20px;
  font-size: 18px;
}

.noaa_nav_link_2.w--current:hover {
  font-size: 18px;
}

._2-col {
  width: 80%;
}

.contact {
  font-size: 16px;
  line-height: 24px;
}

.contact_link {
  color: #0099d8;
  font-size: 16px;
}

.contact_link:hover {
  color: #575757;
  font-size: 16px;
}

.circle_image {
  border-radius: 200px;
}

.radio {
  margin-top: 5px;
  padding-bottom: 5px;
}

.radio.radio_first {
  margin-top: 30px;
}

.radio_field {
  margin-top: 2px;
}

.form_2col {
  width: 50%;
  float: left;
}

.checkbox {
  padding-top: 5px;
}

.checkbox_field {
  margin-top: 2px;
}

.radio_label {
  font-size: 16px;
}

.check_label {
  font-size: 16px;
}

.multi_select {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
}

.select_field {
  width: 33%;
  font-size: 16px;
}

.a_big {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: 'Proximanova Reg', sans-serif;
  color: #0099d8;
  font-size: 26px;
  font-weight: 500;
}

.a_big:hover {
  font-family: 'Proximanova Reg', sans-serif;
  color: #0a4595;
  font-size: 26px;
  font-weight: 400;
}

.a_list {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #0099d8;
  font-size: 20px;
  line-height: 30px;
}

.a_list:hover {
  color: #0a4595;
  font-size: 20px;
  line-height: 30px;
}

.small_p {
  font-size: 16px;
  line-height: 18px;
}

.small_itals {
  font-size: 18px;
  font-style: italic;
}

.emblem {
  margin-bottom: 31px;
}

@media (max-width: 991px) {
  .navbar-icon {
    margin: 13px;
    color: #324ab8;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #e8e6e6;
    color: transparent;
  }
  .header-section.brand {
    background-position: 61% -68px;
    background-size: auto;
    background-attachment: scroll;
  }
  .header-section.home {
    background-position: 50% -122px;
    background-size: auto;
    background-attachment: scroll;
  }
  .header-section.contentheader {
    background-position: 70% 0px;
    background-size: auto;
    background-attachment: scroll;
  }
  .header-section.designheader {
    background-position: 19% 0px;
    background-size: auto;
    background-attachment: scroll;
  }
  .centered-text {
    display: block;
    font-size: 14px;
    text-align: center;
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .intro-paragraph {
    margin-top: 15px;
  }
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  p {
    margin-bottom: 10px;
  }
  .menu-button.w--open {
    background-color: #bfbfbf;
  }
  .intro-paragraph {
    margin-right: auto;
    padding-right: 0px;
    font-size: 20px;
    line-height: 28px;
  }
  .page-header {
    padding-left: 20px;
  }
  .inset-text-div {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 9px;
    padding-right: 0px;
    padding-left: 10px;
  }
  .vision-div {
    margin-right: 0px;
    padding-right: 0px;
  }
  .main-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .pull-quote {
    font-size: 34px;
    line-height: 44px;
  }
  .pull-quote.attribution {
    font-size: 12px;
    line-height: 30px;
  }
  .image-caption {
    font-size: 15px;
    line-height: 17px;
  }
  .image-caption-details {
    font-size: 13px;
    line-height: 16px;
  }
  .promo-title-link {
    font-size: 24px;
    line-height: 34px;
  }
  .category-links-at-top {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova Bold';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova Light';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova Reg';
  src: url('../fonts/ProximaNova-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova Semibold';
  src: url('../fonts/ProximaNova-Reg.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #00467;
}   
     
/* main sidebar */
.skin-blue .main-sidebar {
background-color: #00467;
}
